@model IEnumerable<CrowdFundingProject.Models.Company>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var comp in Model)
    {
        <tr>
            <td><h2>@comp.Name</h2></td>
            <p>@comp.ShortDescription</p>
        </tr>
    }
</table>