@model IEnumerable<CrowdFundingProject.Models.Company>
@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <h3>Hello!</h3>
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Roles" asp-action="Index">Управление пользователями</a>
    }
    <li class="nav-item active">
        <a class="nav-link" href="/Home/Create">New <span class="sr-only">(current)</span></a>
    </li>
    <div class="row mt-5 mb-2">
        @{
            foreach (var comp in Model)
            {
                <form class="col-lg-4">
                    <p>@comp.Name</p>
                    <p>Краткое описание: @comp.ShortDescription</p>
                </form>
            }
        }
    </div>
}
else
{
    <h3>Sign In!</h3>
}